*.gem
*~
.bundle
.rvmrc
.yardoc
Gemfile.lock
coverage/*
doc/*
log/*
measurement/*
pkg/*
/.idea/workspace.xml
/.idea/wixanswers.iml
/.idea/*
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/jsLibraryMappings.xml
/.idea/dictionaries/*.xml
